---
import Layout from '@/layouts/Layout.astro';
---

<Layout back={true} backLabel="Back to Home" backRoute="/">
  <div class="space-y-14">
    <h1 class="text-3xl">🌀</h1>
    <p>
      Lost in the digital maze,<br />
      Page not found, a silent cry,<br />
      Error: 404.
    </p>
  </div>
</Layout>
