---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout>
  <h1>Welcome to my website</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sed mollitia
    cupiditate doloremque animi alias facere blanditiis saepe corrupti ut
    laudantium quaerat, tempora et quasi illum earum quibusdam dicta suscipit?
  </p>
  <h2>My projects</h2>
  <ul>
    {
      projects.map((post) => (
        <li>
          <a href={`/projects/${post.data.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
  <h2>My Social</h2>
  <ul>
    <li><a href="">Twitter</a></li>
  </ul>
</Layout>
