---
import Layout from '@/layouts/Layout.astro';
import DynamicText from '@/components/DynamicText.astro';
import { getCollection } from 'astro:content';
let caseStudies = await getCollection('caseStudies');
caseStudies = caseStudies.sort((a, b) => a.data.order - b.data.order);
---

<Layout>
  <div class="space-y-14">
    <DynamicText>
      <h1 class="text-3xl font-semibold">Anthony Bruno</h1>
      <p>
        I&rsquo;m an Engineering Manager with over 15 years in frontend, where
        I&rsquo;ve gone from building polished web platforms to shaping the
        practices and workflows that help teams succeed. I care about creating
        clarity in messy spaces, removing roadblocks, and making it easier for
        engineers to do their best work.
      </p>
      <p>
        I&rsquo;ve led projects for companies like Google and Meta and helped
        re-architect SaaS products used by thousands of employees. These days,
        I&rsquo;m focused on developer experience and bringing AI into everyday
        engineering so teams can move faster, improve quality, and spend more
        time solving the problems that matter.
      </p>
    </DynamicText>
    <div>
      <h2 class="pb-8 text-2xl">Case Studies</h2>
      <ul class="space-y-6">
        {
          caseStudies.map((project) => (
            <li>
              <a class="group block" href={`/projects/${project.data.slug}`}>
                <p
                  class:list={[
                    'transition-color group-hover:text-theme-hover after:content-["_→"]',
                  ]}
                >
                  {project.data.title}
                </p>
                <span class="text-tony-500">{project.data.subtitle}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div>
      <h2 class="pb-8 text-2xl">Get in Touch</h2>
      <ul class="space-y-6">
        <li>
          <a
            class="hover:text-theme-hover after:content-['_↗']"
            href="mailto:anthony@abruno.net"
            target="_blank">Email</a
          >
        </li>
        <li>
          <a
            class="hover:text-theme-hover after:content-['_↗']"
            href="https://github.com/anthonybruno"
            target="_blank">Github</a
          >
        </li>
        <li>
          <a
            class="hover:text-theme-hover after:content-['_↗']"
            href="https://www.linkedin.com/in/brunotony"
            target="_blank">LinkedIn</a
          >
        </li>
      </ul>
    </div>
  </div>
</Layout>
