---
import Layout from '@/layouts/Layout.astro';
import DynamicText from '@/components/DynamicText.astro';
import { getCollection } from 'astro:content';
let caseStudies = await getCollection('caseStudies');
caseStudies = caseStudies.sort((a, b) => a.data.order - b.data.order);
---

<Layout>
  <div class="space-y-14">
    <DynamicText>
      <h1 class="text-3xl font-semibold">Anthony Bruno</h1>
      <p>
        I’m an Engineering Manager with 15+ years in frontend, where I’ve gone
        from building polished web platforms to rebuilding SaaS products used by
        thousands and platforms that reach millions of employees. Along the way
        I’ve led projects for companies like Google and Meta and helped scale
        products to acquisition.
      </p>
      <p>
        These days, I’m focused on developer experience and AI-powered workflows
        that cut friction, speed delivery, and free teams to solve bigger
        problems.
      </p>
    </DynamicText>
    <div>
      <h2 class="pb-8 text-2xl">Case Studies</h2>
      <ul class="space-y-6">
        {
          caseStudies.map((project) => (
            <li>
              <a class="group block" href={`/projects/${project.data.slug}`}>
                <p
                  class:list={[
                    'transition-color group-hover:text-theme-hover after:content-["_→"]',
                  ]}
                >
                  {project.data.title}
                </p>
                <span class="text-tony-500">{project.data.subtitle}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div>
      <h2 class="pb-8 text-2xl">Get in Touch</h2>
      <ul class="space-y-6">
        <li>
          <a
            class="hover:text-theme-hover after:content-['_↗']"
            href="mailto:anthonybruno@gmail.com"
            target="_blank">Email</a
          >
        </li>
        <li>
          <a
            class="hover:text-theme-hover after:content-['_↗']"
            href="https://github.com/anthonybruno"
            target="_blank">Github</a
          >
        </li>
        <li>
          <a
            class="hover:text-theme-hover after:content-['_↗']"
            href="https://www.linkedin.com/in/brunotony"
            target="_blank">LinkedIn</a
          >
        </li>
      </ul>
    </div>
  </div>
</Layout>
