---

---

<div
  class="prose dark:prose-invert prose-lg prose-abruno prose-h2:text-2xl prose-headings:font-semibold prose-img:w-full prose-img:bg-tony-100 prose-img:transition-opacity prose-img:duration-[4000ms] dark:prose-img:opacity-30 hover:dark:prose-img:opacity-100 text-pretty"
>
  <slot />
</div>
