---
import Layout from '@/layouts/Layout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('projects');
  return posts.map(post => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<Layout>
  <h1>{post.data.title}</h1>
  <div class="prose">
    <Content />
  </div>
</Layout>